.heading1
{
 color: red;
 text-align: center;
}
.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    position: absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 10px 20px; 
}
.grid-item
{
  text-align: center;
  padding: 20px;
  width: 50px; 
  height: 50px;
  background-color: grey;
  border: 1px solid orange; 
  font-size:40px;
  color: red;
  
}
input:focus
{
    outline: none;
}
#box1,#box4,#box7
{
    border-left: none;
}
#box1,#box2,#box3
{
    border-top: none;
}
#box3,#box6,#box9
{
    border-right: none;
}
#box7,#box8,#box9
{
    border-bottom: none;
}
#reset
{
    position:absolute;
    margin-top: 350px;
    margin-left: 610px;
    border: none;
    background-color: orange;
    padding: 10px;
}
#print
{
    text-align: center;
    color: red;
    font-size: 20px;
}


@media only screen and (max-width: 767px) 
{
    .heading1
    {
     color: red;
     text-align: center;
    } 

    #reset
    {
        position:absolute;
        margin-top:120%;
        margin-left:40%;
        border: none;
        background-color: orange;
        padding: 10px;
    }
    .grid-container
    {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0px;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        box-shadow: 5px 10px 20px; 
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) 
{
    .heading1
    {
     color: red;
     text-align: center;
    } 
    #reset
    {
        position:absolute;
        margin-top:50%;
        margin-left:45%;
        border: none;
        background-color: orange;
        padding: 10px;
    }
    .grid-container
    {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0px;
        position: absolute;
        top: 35%;
        left:50%;
        transform: translate(-50%,-50%);
        box-shadow: 5px 10px 20px; 
    }
}


